profiles {
  local {
    process.executor = 'local'
    docker.enabled = true
    singularity.enabled = false
  }

  awsbatch {
    // Default AWS Batch profile. You must configure nextflow config for proper IAM and S3 access.
    process.executor = 'awsbatch'
    aws.batch.region = 'us-east-1'   // default region for this scaffold
    aws.client.region = 'us-east-1'
    workDir = 's3://<YOUR_WORK_BUCKET>/nf-work'

    // Note: fill container options, queue and compute environment
    aws.batch.queue = '<YOUR_BATCH_QUEUE_NAME>'
    aws.batch.cliPath = '/usr/bin/aws'

    singularity.enabled = false
    docker.enabled = true
  }

  tower {
    // If you use Nextflow Tower / Seqera, keep this profile to integrate via Tower API.
  }
}
